body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #a4aab4;
}

.container {
  background: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.container h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 20px;
}

.container input[type="text"],
.container input[type="email"],
.container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.container button {
  width: 100%;
  padding: 10px;
  background: #0053cf;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.container button:hover {
  background: #0b5ed7;
}

.container a {
  display: block;
  margin-top: 15px;
  text-decoration: none;
  color: #0342a0;
  font-size: 14px;
}

.container a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  font-size: 12px;
  text-align: left;
  margin-bottom: 5px;
  display: none;
}

.home-button {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  outline: none;
  border: none;
}

.container textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.container textarea:focus {
  border-color: #0053cf;
}

#error-message {
  color: red;
  font-size: 12px;
  text-align: left;
  margin-bottom: 5px;
  display: none;
}
